<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All news Type</title>
</head>
<body>
<h1>Что-ж</h1>
<h2>Ваши типы новостей: </h2>
<div th:each="newsType : ${newsTypeList}">
  <a th:href="@{/newsType/{id}(id=${newsType.getId()})}"
     th:text="${newsType.getId() + ', ' + newsType.getTypeName()}">newsType</a>
</div>

<br/>
<form th:method="GET" th:action="@{/mainPage}">
  <input type="submit" value="Go back"/>
</form>
<br/>
<hr/>

</body>
</html>
