<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New newsType</title>
  <style>
    body{
      margin: 20px;
      border: 4px dashed black;
      padding: 10px;
    }
  </style>
</head>
<body style="margin: 20px; border: 4px dashed black;">

<form th:method="POST" th:action="@{/mainPage2}" th:object="${newsType}">
  <label for="typeName">Введите название типа новости: </label>
  <input type="text" th:field="*{typeName}" id="typeName"/>
  <div style="color:red" th:if="${#fields.hasErrors('typeName')}" th:errors="*{typeName}">typeName Error</div>
  <br/><br>
  <label for="colorType">Введите цвет новости: </label>
  <input type="text" th:field="*{colorType}" id="colorType"/>
  <div style="color:red" th:if="${#fields.hasErrors('colorType')}" th:errors="*{colorType}">colorType Error</div>
  <br/><br>
  <input type="submit" value="Create!"/>
</form>
<br />
<form th:method="GET" th:action="@{/mainPage}">
  <input type="submit" value="Go back"/>
</form>
</body>
</html>